<div>   
    <div id="UsuarioLog"></div>
    <h2>gestion productos</h2>
    <form id="productForm" action="">
        <label>nombre</label>
        <input type="text" id="title" name="title" required="true">
        <label>precio</label>
        <input type="number" id="price" name="price" required="true">
        <label>Url</label>
        <input type="url" id="image" name="image" required="true">
        <button type="submit">Agregar productos</button>
    </form>
    </div>
    <div id="productsContainer">
    
    </div>
    <h2>chat con socket</h2>
    <input type="text" id="messageField">
    <div id="messageContainer"></div>

    <script defer src="index.js"></script>